<% @posts.each do |post| %>
  <article class="post">
    <div class="post-title"><a href="/posts/<%= post.slug %>"><%= post.title %></a></div>
    <div class="post-date"><%= post.date.strftime("%B %e, %Y") %></div>
    <div class="truncated_post_body">
      <%= post.body_preview(150) %>
    </div>
    <div class="read-more">
      <a href="/posts/<%= post.slug %>">Read more →</a>
    </div>
  </article>
<% end %>

<%= erb :_pagination, :layout => false, :locals => { :pagination => @pagination } %>
